.Navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100px;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position:center;
    filter: brightness(90%);
}
ul{
    position: absolute;
    right: 0;
    margin-right: 30px;
}
li{
    display: inline-block;
    flex-direction: row;
    margin: 15px;
    color: white;
    font-weight: bold;
    cursor:pointer;
    transition: 0.5s;
}
li:hover{
    transform: scale(1.2);
}
img{
    position: relative;
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    width: 160px;
    height: 80px;
}